* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    
    font-size: 62.5%;
}

body {
    background-color: rgb(234, 219, 235);
}



/*------------------->HEADER<----------------------*/

h1 {
    position: absolute;
    color: white;
    font-size: 20px;
    margin-left: 90px;
    margin-top: -15px;
}

.container .subtitulo {
    position: absolute;
    color: white;
    font-size: 11px;
    margin-left: 81px;
    margin-top: 15px;
}
/*--------Logo-----*/
.logo img {
    padding: 5px 0px 0px;
    height: 70px;
    margin-left: 5px;
    margin-bottom: 7px;
}
/*-----------------*/

.container {

    background-color: rgb(76, 44, 120);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed; 
    z-index: 1000; 

}

.container nav {
    margin-bottom: -110px;
    margin-left: 130px;
}

.container nav ul li {
    position: relative;
    float: left;
}

.container nav ul li a {
    font-size: 15px;
    padding: 21px;
    padding-bottom: 35px;
    margin-top: 3px;
    color: white;
    display: block;
    
}

.container nav ul li a:hover {
    color: rgb(182, 142, 223);
    
}

.container nav ul li ul a:hover {
    background-color: rgb(117, 112, 101);
    color: rgb(255, 255, 255);

}

.container nav ul li ul {
    
    position: absolute;
    left: 22px;
    top: 76px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.container nav ul li ul li a {
    font-size: 14px;
    padding: 10px;
    
}

.container nav ul li ul li ul {
    position: absolute;
    top: 0px;
    left: 200px;    

}

.container nav ul li ul li {
    width: 100%;
}

.container nav ul li:hover > ul {
    display: initial;
    
}
/*-------------Menu Hamburguesa-------------------*/
#menu {
    display: none;
}

.container label span {
    color: white;
    font-size: 15px;
}

.container label {
    cursor: pointer;
    display: none;
}
/*-------------->CARRITO/BUTTONS<-----------------*/
.container nav {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-top: -107px;
    color: #333;
}
/*----------Barra busqueda-----------*/
.search {
    position: absolute;
    align-items: center;
    margin-left: 600px;
    margin-top: 20px;
}


.search input {
    padding: 3px;
    border: 1px solid rgb(182, 142, 223);
    outline: none;
    border-radius: 15px;
    margin-right: 10px;
    font-size: 15px;
}

.search input:hover {
    border: 1px solid rgb(182, 142, 223);
}

.search button {
    padding: 3.8px;
    background-color: rgb(182, 142, 223);
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin-left: -31px;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.search button span {
    font-size: 13px;
}


/*-----------------------------*/
.idioma {   
    margin-top: 24px;
    margin-left: 400px;
}

.idioma span {
    color: white;
    font-size: 14px;
    margin-right: 2px;
}

.idioma a {
    color: white;
    font-size: 15px;
}

.idioma a:hover {
    color: rgb(182, 142, 223);
}

.sesion {
    margin-top: 24px;
}

.sesion span {
    color: white;
    font-size: 15px;
    margin-right: 2px;
}

.sesion a {
    color: white;
    font-size: 15px;
}

.sesion a:hover {
    color: rgb(182, 142, 223);
}

/*-------------------->Carrito<----------------------*/
#img-carrito {
    height: 20px;
    margin-top: 22px;
    margin-right: 20px;
    cursor: pointer;
}
/*------------------>Numero Carrito<-----------------*/
span .cuenta {
    width: 18px;
    height: 18px;
    background-color: rgb(76, 44, 120);
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    right: 10px;
    bottom: 45px;
}


/*--------------->Elementos dentro del Carrito<------------------------*/
#cart {
    background-color: #ffffff;
    overflow: auto;
    max-height: 500px;
    width: 420px;
    position: fixed;
    border-radius: 10px;
    top: 80px;
    right: 0;
}

.nav-card {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
    border-bottom: solid thin #e1e1e1;
}

.nav-card li {
    list-style: none;
    padding: 1rem;
    font-weight: bold;
}

#lista_de_productos {
    width: 400px;
    margin: auto;
}

.tarjeta-producto {
    display: flex;
    height: 80%;
    gap: 20px;
    align-items: center;
    border-bottom: solid thin gray;
}

.tarjeta-producto img {
    width: 100px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tarjeta-producto h3 {
    position: absolute;
    margin-left: 110px;
    width: 70px;
    font-size: 1.3rem;
}

.tarjeta-producto p {
    position: absolute;
    margin-left: 200px;
    width: 100px;
    font-size: 1.3rem;
}

.tarjeta-producto .cantidad {
    font-size: 1.3rem;
}

#totales {
    background-color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    height: 20%;

}

.tarjeta-producto .contador {
    position: absolute;
    margin-left: 295px;
}

.tarjeta-producto button {
    background-color: orange;
}





/*----------------->FIN HEADER<--------------------*/


/*------------------>Titulo & Grid<---------------------------*/
.imagen-titulo img{
    position: absolute;
    height: 80px;
    margin-top: 90px;
    margin-left: 480px;
}

h2 {
    padding-top: 110px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;

}

.orden-precios {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;  
}

.orden-precios .ini a {
    color: rgb(182, 142, 223);
}

.container-filtros {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 10px;
    padding-bottom: 20px;
}

.container-filtros h3 {
    font-size: 16px;
    margin-left: 60px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.container-filtros a {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #474747;
}


.grid {
    display: grid;
    width: 79%;
    justify-content: center;
    margin-left: 280px;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(230px,230px));
    padding-bottom: 50px;
    padding-top: 30px;
    margin-top: 10px;
}

.items {
    background-color: #fff;
    border: solid thin #e1e1e1;
}

.items img {
    width: 100%;
    height: 250px;
}

.info {
    padding: 15px;
}

.info h3 {
    font-size: 1.6rem;
}

.info p {
    font-size: 1.4rem;
}

.info h3, .info p {
    color: #222;
    margin-bottom: 15px;
}

.precio p:first-child {
    /*text-decoration: line-through;*/
    color: rgb(32, 34, 34);
}

.precio {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

.descuento {
    display: none;
}

.precio p {
    font-size: 1.6rem;
}

.info button {
    padding: 1rem;
    width: 100%;
    background-color: rgb(76, 44, 120);
    border: none;
    outline: none;
    color: #ffff;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.info .agregar-carrito:hover {
    background-color:rgb(133, 58, 207);
    transition: all .3s;
}

.info .comprar:hover {
    background-color:rgb(174, 123, 224);
    transition: all .3s;
}
